<div class="row">
  <div class="offset-md-2 col-md-8">
    <section class="user_info">
        <%- include('./_user_info.ejs') %>
    </section>
    <section class="status">
      <% if(locals.posts) {%>
        <ul class="list-unstyled">
          <% posts.forEach(function (post) { %>
              <%- include('./_status.ejs',{post:post}) %>
        <% })%>
        </ul>
        <div class="mt-5">
          {!! $statuses->render() !!}
        </div>
     <% }else{ %>
        <p>没有数据！</p>
      <% }%>
    </section>
  </div>
  </div>