<form action="/posts/create" method="POST">
  <%- include('../common/_errors.ejs') %>
  <textarea class="form-control" rows="3" placeholder="聊聊新鲜事儿..." name="centent"></textarea>
  <div class="text-right">
      <button type="submit" class="btn btn-primary mt-3">发布</button>
  </div>
</form>